- if (username) {
	div.user Hi, <a href="#">#{username}</a>. 

	header
		div(id="notice", class="notice")
			p Tracking: 
				span(class="tags") You might want to enable javascript
				span &nbsp;for 
				span(class="time") this part
				span .&nbsp;
				a#done(href="#done") Done!
- }
h1= title
p Welcome to #{title}, a simple little app to keep track of time spent working on something for someone.

- if (username) {
	form#items-form(action='/', method='post', onsubmit="fromForm(); return false;")
		label(for='work[tags]') Tags, comma separated
		//input(type='hidden', name='work[tID]', value=tID)
		input#tags(type='text', name='work[tags]', placeholder='E.g. Research, red-neuron, ux', autofocus)
		input#submit(type='submit', value='Start tracking')
- }
br
- var sum = 0; var monthSum = 0;
//this should be merged with the later loop for O(n) rather than O(2n)
- data.forEach(function(item) {
	- if (item.workData.done) {
		- sum += item.workData.time/3600000;
		- if (item.workData.start.getMonth()===(function () { var d = new Date(); return d.getMonth(); })()) {
			- monthSum += item.workData.time/3600000;
		- }
	- }
- });
table(id="workdata")
	- if (data.length>0) {
		thead
			tr.summations
				td.sum
					div.string Sum
					div.number #{Math.ceil(sum)}
				td
				td.sum.month
					div.string
					div.number #{Math.ceil(monthSum)}
	- }
	thead
		tr
			th Date
			th Tag
			th Time
	tbody
		- if (data.length<1) {
			tr
				td(colspan=3) Nothing here :(
		- } else {
			- data.forEach(function(item) {
				- var workData = item.workData
				- var status = (!workData.done) ? "ongoing" : "";
				tr(class=status)
					td #{workData.start.toLocaleDateString()}
					td
						- workData.tags.forEach(function(tag, i) {
							- if (i<workData.tags.length-1) {
								<a href="#{tag}">#{tag}</a>, 
							- } else {
								<a href="#{tag}">#{tag}</a>
							- }
						- })
					td
						- if (workData.done) {
							#{workData.timeStr}
						- } else {
								#{"In progress"}
						- }
			- })
		- }
			