- if (username) {
	div.user Hi, <a href="#">#{username}</a>. 
- }
header
	div(id="notice", class="notice")
		p Tracking: 
			span(class="tags") You might want to enable javascript
			span &nbsp;for 
			span(class="time") this part
			span .&nbsp;
			a#done(href="#done") Done!

h1= title
p Welcome to #{title}, a simple little app to keep track of time spent working on something for someone.

- if (username) {
	form#items-form(action='/', method='post', onsubmit="startTime(); return false;")
		label(for='work[tags]') Tags, comma separated
		//input(type='hidden', name='work[tID]', value=tID)
		input#tags(type='text', name='work[tags]', placeholder='E.g. Research, red-neuron, ux', autofocus)
		input#submit(type='submit', value='Start tracking')
- }
br

table(id="workdata")
	thead
		tr
			th Date
			th Tag
			th Time
	tbody
		- if (data.length<1) {
			tr
				td(colspan=3) Nothing here :(
		- }
		- var cTime = { 'start': data[0].workData.start, 'stop': data[0].workData.stop };
		- var cTags = [];
		- data.forEach(function(item, i) {
			- var workData = item.workData
			tr
				- if (((Math.abs(cTime.start.getTime()-workData.start.getTime()))<100) && ((Math.abs(cTime.stop.getTime()-workData.stop.getTime()))<100)) {
					- cTags.push(workData.tag);
				- } else {
					td #{data[i-1].workData.start.toLocaleDateString()}
					td #{cTags.join(', ')}
					td #{data[i-1].workData.timeStr} 
					- cTime = { 'start': workData.start, 'stop': workData.stop }
					- cTags = [workData.tag];
				- }
		- })
		tr
			td #{data[data.length-1].workData.start.toLocaleDateString()}
			td #{data[data.length-1].workData.tag}
			td #{data[data.length-1].workData.timeStr}